body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u883 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(70, 208, 173, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(254, 241, 225, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u884 {
  position:absolute;
  left:0px;
  top:618px;
  width:375px;
  height:49px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u885 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u886 {
  position:absolute;
  left:59px;
  top:126px;
  width:305px;
  height:1px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u887 {
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u888 {
  position:absolute;
  left:59px;
  top:190px;
  width:305px;
  height:1px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u889 {
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u890 {
  position:absolute;
  left:59px;
  top:252px;
  width:305px;
  height:1px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u891 {
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u892 {
  position:absolute;
  left:59px;
  top:312px;
  width:305px;
  height:1px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u893 {
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u894 {
  position:absolute;
  left:76px;
  top:84px;
  width:136px;
  height:15px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u896 {
  position:absolute;
  left:77px;
  top:108px;
  width:167px;
  height:13px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u897 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u898 {
  position:absolute;
  left:319px;
  top:82px;
  width:36px;
  height:14px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u900 {
  position:absolute;
  left:76px;
  top:146px;
  width:61px;
  height:15px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u901 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u902 {
  position:absolute;
  left:59px;
  top:375px;
  width:305px;
  height:1px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u903 {
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u904 {
  position:absolute;
  left:77px;
  top:170px;
  width:145px;
  height:13px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u905 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u906 {
  position:absolute;
  left:77px;
  top:209px;
  width:61px;
  height:15px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u908 {
  position:absolute;
  left:77px;
  top:235px;
  width:193px;
  height:13px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u909 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u910 {
  position:absolute;
  left:320px;
  top:144px;
  width:36px;
  height:14px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u912 {
  position:absolute;
  left:319px;
  top:209px;
  width:36px;
  height:14px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u914 {
  position:absolute;
  left:77px;
  top:269px;
  width:61px;
  height:15px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u916 {
  position:absolute;
  left:77px;
  top:294px;
  width:193px;
  height:13px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u918 {
  position:absolute;
  left:319px;
  top:269px;
  width:36px;
  height:14px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u919 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u920 {
  position:absolute;
  left:77px;
  top:333px;
  width:61px;
  height:15px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u922 {
  position:absolute;
  left:77px;
  top:357px;
  width:97px;
  height:13px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u924 {
  position:absolute;
  left:319px;
  top:332px;
  width:36px;
  height:14px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(70, 208, 173, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u927 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u928 {
  position:absolute;
  left:163px;
  top:35px;
  width:73px;
  height:20px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u930 {
  position:absolute;
  left:169px;
  top:6px;
  width:49px;
  height:12px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u932 {
  position:absolute;
  left:322px;
  top:7px;
  width:19px;
  height:12px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:9px;
}
#u934 {
  position:absolute;
  left:346px;
  top:8px;
  width:18px;
  height:9px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u935 {
  position:absolute;
  left:2px;
  top:-4px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u936 {
  position:absolute;
  left:140px;
  top:35px;
  width:15px;
  height:20px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u937 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u938 {
  position:absolute;
  left:334px;
  top:35px;
  width:20px;
  height:20px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u939 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u940 {
  position:absolute;
  left:287px;
  top:632px;
  width:24px;
  height:21px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u941 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u943 {
  position:absolute;
  left:165px;
  top:621px;
  width:45px;
  height:45px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u944 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:21px;
}
#u945 {
  position:absolute;
  left:180px;
  top:634px;
  width:15px;
  height:21px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u946 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u947 {
  position:absolute;
  left:32px;
  top:5px;
  width:49px;
  height:14px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FFFFFF;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u949 {
  position:absolute;
  left:84px;
  top:5px;
  width:15px;
  height:12px;
}
#u950 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:20px;
}
#u951 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  height:20px;
}
#u952 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(70, 208, 173, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 208, 173, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u953 {
  position:absolute;
  left:14px;
  top:80px;
  width:45px;
  height:45px;
}
#u954 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(70, 208, 173, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 208, 173, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u955 {
  position:absolute;
  left:14px;
  top:144px;
  width:45px;
  height:45px;
}
#u956 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(70, 208, 173, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 208, 173, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u957 {
  position:absolute;
  left:14px;
  top:206px;
  width:45px;
  height:45px;
}
#u958 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(70, 208, 173, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 208, 173, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u959 {
  position:absolute;
  left:14px;
  top:266px;
  width:45px;
  height:45px;
}
#u960 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(70, 208, 173, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 208, 173, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u961 {
  position:absolute;
  left:14px;
  top:330px;
  width:45px;
  height:45px;
}
#u962 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u963 {
  position:absolute;
  left:20px;
  top:274px;
  width:30px;
  height:30px;
}
#u964 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u965 {
  position:absolute;
  left:23px;
  top:87px;
  width:30px;
  height:30px;
}
#u966 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u967 {
  position:absolute;
  left:23px;
  top:155px;
  width:26px;
  height:26px;
}
#u968 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u969 {
  position:absolute;
  left:23px;
  top:340px;
  width:27px;
  height:25px;
}
#u970 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u971 {
  position:absolute;
  left:21px;
  top:214px;
  width:30px;
  height:30px;
}
#u972 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u973 {
  position:absolute;
  left:59px;
  top:633px;
  width:25px;
  height:25px;
}
#u974 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:170px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.6);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u976 {
  position:absolute;
  left:107px;
  top:228px;
  width:171px;
  height:170px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u977 {
  position:absolute;
  left:2px;
  top:77px;
  width:167px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:89px;
}
#u978 {
  position:absolute;
  left:133px;
  top:262px;
  width:56px;
  height:89px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u979 {
  position:absolute;
  left:2px;
  top:36px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u980 {
  position:absolute;
  left:136px;
  top:367px;
  width:113px;
  height:18px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:7px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u982 {
  position:absolute;
  left:207px;
  top:344px;
  width:19px;
  height:7px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u983 {
  position:absolute;
  left:2px;
  top:-4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:8px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u984 {
  position:absolute;
  left:206px;
  top:330px;
  width:21px;
  height:8px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u985 {
  position:absolute;
  left:2px;
  top:-4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
