body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u250 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  word-wrap:break-word;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(70, 208, 173, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u252 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u253 {
  position:absolute;
  left:155px;
  top:15px;
  width:73px;
  height:20px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u256 {
  position:absolute;
  left:10px;
  top:18px;
  width:10px;
  height:15px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u257 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u258 {
  position:absolute;
  left:26px;
  top:18px;
  width:29px;
  height:15px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:138px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 220, 220, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u261 {
  position:absolute;
  left:17px;
  top:94px;
  width:341px;
  height:138px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u262 {
  position:absolute;
  left:2px;
  top:61px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u263 {
  position:absolute;
  left:34px;
  top:104px;
  width:325px;
  height:18px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  word-wrap:break-word;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:2px;
}
#u265 {
  position:absolute;
  left:21px;
  top:198px;
  width:334px;
  height:1px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  color:#F5F7F9;
}
#u266 {
  position:absolute;
  left:2px;
  top:-8px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u267 {
  position:absolute;
  left:34px;
  top:138px;
  width:266px;
  height:31px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  word-wrap:break-word;
}
#u269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u269 {
  position:absolute;
  left:32px;
  top:207px;
  width:60px;
  height:13px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u271 {
  position:absolute;
  left:333px;
  top:206px;
  width:10px;
  height:15px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u272 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u273 {
  position:absolute;
  left:112px;
  top:64px;
  width:147px;
  height:20px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u274 {
  position:absolute;
  left:2px;
  top:4px;
  width:143px;
  word-wrap:break-word;
}
