body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u150 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u151 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(70, 208, 173, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(254, 241, 225, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u152 {
  position:absolute;
  left:0px;
  top:598px;
  width:375px;
  height:49px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u153 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u154 {
  position:absolute;
  left:0px;
  top:115px;
  width:375px;
  height:1px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u155 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u157 {
  position:absolute;
  left:0px;
  top:183px;
  width:375px;
  height:1px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u158 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u159 {
  position:absolute;
  left:76px;
  top:130px;
  width:61px;
  height:15px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u161 {
  position:absolute;
  left:77px;
  top:154px;
  width:145px;
  height:13px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u163 {
  position:absolute;
  left:320px;
  top:128px;
  width:36px;
  height:14px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u165 {
  position:absolute;
  left:339px;
  top:153px;
  width:15px;
  height:15px;
  font-size:9px;
  color:#FFFFFF;
}
#u166 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(70, 208, 173, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 208, 173, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167 {
  position:absolute;
  left:14px;
  top:128px;
  width:45px;
  height:45px;
}
#u168 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u169 {
  position:absolute;
  left:0px;
  top:250px;
  width:375px;
  height:1px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u170 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u171 {
  position:absolute;
  left:0px;
  top:317px;
  width:375px;
  height:1px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u172 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u173 {
  position:absolute;
  left:76px;
  top:62px;
  width:136px;
  height:15px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u175 {
  position:absolute;
  left:77px;
  top:86px;
  width:167px;
  height:13px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
#u177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u177 {
  position:absolute;
  left:319px;
  top:60px;
  width:36px;
  height:14px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u179 {
  position:absolute;
  left:0px;
  top:383px;
  width:375px;
  height:1px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u180 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u181 {
  position:absolute;
  left:77px;
  top:200px;
  width:61px;
  height:15px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u183 {
  position:absolute;
  left:77px;
  top:226px;
  width:145px;
  height:13px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u185 {
  position:absolute;
  left:319px;
  top:200px;
  width:36px;
  height:14px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u187 {
  position:absolute;
  left:77px;
  top:267px;
  width:61px;
  height:15px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u188 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u189 {
  position:absolute;
  left:77px;
  top:292px;
  width:121px;
  height:13px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u191 {
  position:absolute;
  left:319px;
  top:267px;
  width:36px;
  height:14px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u193 {
  position:absolute;
  left:77px;
  top:333px;
  width:61px;
  height:15px;
  font-family:'幼圆 Bold', '幼圆';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u195 {
  position:absolute;
  left:77px;
  top:359px;
  width:97px;
  height:13px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u196 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u197 {
  position:absolute;
  left:319px;
  top:331px;
  width:36px;
  height:14px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u198 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(70, 208, 173, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u200 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u201 {
  position:absolute;
  left:163px;
  top:15px;
  width:73px;
  height:20px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u202 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
}
#u203 {
  position:absolute;
  left:140px;
  top:15px;
  width:15px;
  height:20px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u204 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u205 {
  position:absolute;
  left:334px;
  top:15px;
  width:20px;
  height:20px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u206 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u207 {
  position:absolute;
  left:287px;
  top:612px;
  width:24px;
  height:21px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u208 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u209 {
  position:absolute;
  left:165px;
  top:601px;
  width:45px;
  height:45px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u210 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:21px;
}
#u211 {
  position:absolute;
  left:180px;
  top:614px;
  width:15px;
  height:21px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u212 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(70, 208, 173, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 208, 173, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u213 {
  position:absolute;
  left:14px;
  top:197px;
  width:45px;
  height:45px;
}
#u214 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(70, 208, 173, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 208, 173, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u215 {
  position:absolute;
  left:14px;
  top:264px;
  width:45px;
  height:45px;
}
#u216 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(70, 208, 173, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 208, 173, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u217 {
  position:absolute;
  left:14px;
  top:329px;
  width:45px;
  height:45px;
}
#u218 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u219 {
  position:absolute;
  left:23px;
  top:339px;
  width:27px;
  height:25px;
}
#u220 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u221 {
  position:absolute;
  left:339px;
  top:221px;
  width:15px;
  height:15px;
  font-size:9px;
  color:#FFFFFF;
}
#u222 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u223 {
  position:absolute;
  left:339px;
  top:289px;
  width:15px;
  height:15px;
  font-size:9px;
  color:#FFFFFF;
}
#u224 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u225 {
  position:absolute;
  left:59px;
  top:613px;
  width:25px;
  height:25px;
}
#u226 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:44px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u228 {
  position:absolute;
  left:224px;
  top:45px;
  width:130px;
  height:44px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u229 {
  position:absolute;
  left:2px;
  top:15px;
  width:126px;
  word-wrap:break-word;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:44px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u230 {
  position:absolute;
  left:224px;
  top:90px;
  width:130px;
  height:44px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u231 {
  position:absolute;
  left:2px;
  top:15px;
  width:126px;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u232 {
  position:absolute;
  left:244px;
  top:104px;
  width:15px;
  height:15px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u233 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u234 {
  position:absolute;
  left:245px;
  top:60px;
  width:15px;
  height:15px;
  font-family:'幼圆 Regular', '幼圆';
  font-weight:400;
  font-style:normal;
}
#u235 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(70, 208, 173, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(70, 208, 173, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  position:absolute;
  left:14px;
  top:60px;
  width:45px;
  height:45px;
}
#u238 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u239 {
  position:absolute;
  left:17px;
  top:62px;
  width:40px;
  height:40px;
}
#u240 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u241 {
  position:absolute;
  left:336px;
  top:353px;
  width:20px;
  height:20px;
}
#u242 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u243 {
  position:absolute;
  left:24px;
  top:137px;
  width:27px;
  height:27px;
}
#u244 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u245 {
  position:absolute;
  left:22px;
  top:205px;
  width:30px;
  height:30px;
}
#u246 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:31px;
}
#u247 {
  position:absolute;
  left:22px;
  top:271px;
  width:30px;
  height:31px;
}
#u248 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
